openapi: 3.1.0
info:
  title: Awtsmoos Tunnel Control GPT Actions Live Agent Surface
  version: 6.0.0-generated
  description: B"H. Generated from the local tunnel registry. One backward-compatible action endpoint exposes old aliases and new mode-based internals.
servers:
  - url: https://awtsmoos.com
paths:
  /api/tunnel/control/bootstrap:
    get:
      operationId: awtsmoosBootstrap
      summary: Get setup instructions.
      security: []
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/my-device:
    get:
      operationId: awtsmoosMyDevice
      summary: Discover active connected tunnel.
      security: [{ OAuth2: [profile, tunnel.read] }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/fs/{tunnelName}:
    get:
      operationId: awtsmoosTunnelAction
      summary: Unified tunnel action endpoint.
      description: B"H. Run one tunnel action. Old YAML remains compatible: action aliases still work, including commands/commands64 as aliases for command/command64. New callers can use commandTree tree/vars/budget fields, commandStart/commandStatus/commandJobOutputPage async command jobs, commandOutputPage sync output paging, mode/readMode/writeMode, XML write payloads, cursor pagination, Chrome-first simulateRuntime, and AI-agent params through the same GET endpoint.
      security: [{ OAuth2: [profile, tunnel.read, tunnel.write, tunnel.command, tunnel.browser, tunnel.admin] }]
      parameters:
        - { name: tunnelName, in: path, required: true, schema: { type: string }, description: Connected tunnel name, auto, or awtsmoos-virtual-os for hosted Virtual OS. }
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum:
              - absoluteImportMapper
              - abstractionLeakTrace
              - actionAliasResolver
              - actionBatch
              - actionHistoryDiff
              - actionHistoryExplain
              - actionHistoryGarbageCollect
              - actionHistoryGet
              - actionHistoryList
              - actionHistoryPatch
              - actionHistoryPin
              - actionHistoryReplace
              - actionHistoryReplay
              - actionHistorySearch
              - actionHistoryUnpin
              - actionSchemaTrace
              - affectedComponents
              - affectedRoutes
              - affectedTests
              - agent
              - agentDoctor
              - agentSelfTest
              - agentVersionSkewCheck
              - aiAgentConfigSet
              - aiAgentList
              - aiAgentMessage
              - aiAgentRemoveProviderKey
              - aiAgentSetProviderKey
              - aiAgentSpawnNovel
              - aiAgentSpawnTask
              - aiAgentTaskList
              - aiAgentTaskResult
              - aiAgentTaskStatus
              - aiCommandBatch
              - aiContextPack
              - aiTemplateGet
              - aiTemplateList
              - aiTemplateRender
              - aiTemplateRun
              - aiWorkflowLang
              - aiWorkflowRun
              - apiContractCheck
              - apiContractDiscover
              - apiSmokeTest
              - applyPatch
              - appModeMatrix
              - architectureScore
              - assertAction
              - astOutline
              - astParserHealth
              - autonomousBackgroundAgents
              - awtsmoosCommandTree
              - batchDryRun
              - batchShapeValidator
              - blastRadiusAnalysis
              - browserConsoleTriage
              - browserDoctor
              - browserReplay
              - bugReproPack
              - buildRunner
              - bulk
              - bulkDebugPayload
              - bulkSearch
              - bulkSearchPage
              - bulkWrite
              - bulkWriteIfHashes
              - bundleTrace
              - capabilityParityAudit
              - changeImpactGraph
              - chatgptContinueConversation
              - chatgptCurrentConversation
              - chatgptListConversations
              - chatgptLogin
              - chatgptMessage
              - chatgptNewConversation
              - chatgptOpenLogin
              - chatgptSendMessage
              - chatgptStatus
              - chromeClick
              - chromeEval
              - chromeEvalSlim
              - chromeFind
              - chromeLaunch
              - chromeLogs
              - chromeNavigate
              - chromeRunScript
              - chromeSnapshot
              - chromeSnapshotScoped
              - chromeStatus
              - chromeTargetSelector
              - chromeType
              - chromeWaitForSelector
              - command
              - commandBatch
              - commandCancel
              - commandFailureClassifier
              - commandIntentClassifier
              - commandJobCancel
              - commandJobOutputPage
              - commandJobStatus
              - commandMemoryDelete
              - commandMemoryFork
              - commandMemoryGet
              - commandMemoryList
              - commandMemoryPatch
              - commandMemoryRun
              - commandMemorySave
              - commandOutputPage
              - commandPoll
              - commandPresetDelete
              - commandPresetGet
              - commandPresetList
              - commandPresetRun
              - commandPresetSave
              - commandRun
              - commandStart
              - commandStatus
              - commandTreeCancel
              - commandTreeDryRun
              - commandTreeExplain
              - commandTreeLoad
              - commandTreeReplay
              - commandTreeResume
              - commandTreeRun
              - commandTreeSave
              - commandTreeStatus
              - commandTreeValidate
              - commandTreeVisualize
              - conditionExpressionTester
              - configDriftScan
              - configGet
              - configSet
              - connectedFiles
              - consoleErrorTriage
              - contextPack
              - copyFile
              - copyTree
              - coverageRunner
              - credentialLeakRisk
              - crossSurfaceToolDocs
              - ctxPathProbe
              - deadCommentDetector
              - deadExportScan
              - deleteFile
              - deleteTree
              - dependencyBlindSpotScan
              - dependencyCycleCheck
              - dependencyDiff
              - dependencyDoctor
              - dependencyGraph
              - dependencyInstallPlan
              - dependencyRiskScan
              - dependencyVulnPlan
              - destructiveIntentGate
              - detectAbstractionLeaks
              - detectConceptClusters
              - detectDeadConcepts
              - docsGeneratedFreshness
              - doctorAll
              - domDomRenderLab
              - duplicateBasenames
              - duplicateConceptScan
              - emptyDir
              - endpointDiscovery
              - endpointMethodProbe
              - ensureFile
              - envDoctor
              - envFileAudit
              - environmentVirtualizer
              - ephemeralDelete
              - ephemeralList
              - ephemeralMeta
              - ephemeralPage
              - ephemeralSearch
              - errorCluster
              - failedActionMemory
              - failingTestTriage
              - fileHashes
              - fileTreeDiff
              - find
              - findFiles
              - finishAndContinue
              - forEachActionBatch
              - fsPermissionEnvelope
              - functionPatchDryRun
              - generateRepairPlan
              - generateTestUniverse
              - getContext
              - getPostMismatchScan
              - gitBranchDoctor
              - gitConflictExplainer
              - gitDiffSmart
              - gitDoctor
              - gitIgnoreDoctor
              - gitIgnoreHygiene
              - gitMergeDoctor
              - gitPatchSummary
              - gitRemoteHealth
              - gitSafeCommitPlan
              - gitStashPlan
              - gitStatusDeep
              - goalCompiler
              - grep
              - handoffPack
              - hashGuardAdvisor
              - httpCookieDelete
              - httpCookieJarList
              - httpCookies
              - httpCookieSet
              - httpDownload
              - httpJson
              - httpRequest
              - httpSessionClear
              - httpTrace
              - imageWrite
              - importResolverExplain
              - inferArchitecture
              - inferBusinessRules
              - insertAfterFunction
              - insertAfterScope
              - insertBeforeFunction
              - insertBeforeScope
              - inspectHumanConfusion
              - inspectRenderStorms
              - installPlan
              - installScriptParityCheck
              - intentDriftDetector
              - interactionRecorder
              - interactionReplayDiff
              - isolatedCleanup
              - isolatedHtmlTest
              - isolatedJsTest
              - isolatedNodeCheck
              - isolatedToolRepairPlan
              - jsdocCoverageScan
              - jsonFormat
              - jsonValidate
              - largeFiles
              - largeFileSplitPlanner
              - lastActionReplay
              - lastFailureExplain
              - lazyContextPack
              - lintRunner
              - list
              - liveAgentVersionCompare
              - localVsPublicRouteDiff
              - lockfileDoctor
              - logSearch
              - logTail
              - macroExplain
              - macroPatch
              - macroRecordStart
              - macroRecordStop
              - macroReplay
              - md
              - merkavaCommandTree
              - merkavaParserSmoke
              - merkavaRenderLab
              - merkavaVsChromeDiff
              - merkavaWorkflowRun
              - microPatchPlanner
              - minimalReproGenerator
              - mkdirp
              - modelToolCompatibility
              - moduleGraphCompleteness
              - moveFile
              - moveTree
              - mutationPatchTest
              - networkDoctor
              - networkFailureTriage
              - networkReplaySummary
              - nodeCheckFile
              - nodeCheckFiles
              - nodeCheckMany
              - nodeDoctor
              - nodeVersionCompatibility
              - npmScriptExplain
              - npmScriptMatrix
              - oauthDoctor
              - oauthStateDoctor
              - openApiAgentDiff
              - openApiRegenerator
              - openApiValidate
              - openRoot
              - orchestrationGraph
              - outdatedDependencyScan
              - packageInfo
              - packageManagerDoctor
              - packageScriptRunner
              - parallelActionBatch
              - pathDoctor
              - pathHints
              - payloadEcho
              - payloadShapeInfer
              - perfBudgetCheck
              - permissionDoctor
              - placeholderDetector
              - policyGuard
              - portDoctor
              - portFind
              - portKillSafe
              - portList
              - powershellCompatibilityCheck
              - previewActionResult
              - previewBranchMatrix
              - previewBuildRunner
              - previewCollection
              - previewCreate
              - previewExposeLocalServer
              - previewFile
              - previewFolder
              - previewList
              - previewLiveCommand
              - previewPage
              - previewRevoke
              - previewSettingsGet
              - previewSettingsSet
              - probeCoverageMap
              - processDoctor
              - processFind
              - processKillSafe
              - processList
              - projectOverview
              - providerCapabilityMatrix
              - read
              - read64
              - readBytes
              - readLines
              - readManyLines
              - recentFiles
              - regexFallbackDetector
              - releasePack
              - renderModeMatrix
              - repairPatchSuggester
              - replaceFunction
              - replaceFunctionBody
              - replaceMethod
              - replaceRange
              - replaceScope
              - replaceScopeBody
              - replaceSymbol
              - repoDoctor
              - restoreSnapshotPlan
              - retryAction
              - reviewPack
              - rg
              - rgbgrep
              - rootBrowse
              - roots
              - rootSelect
              - routeAudit
              - routeContextPack
              - routeExecutorGraph
              - runtime
              - runtimeContractRegistry
              - runtimeEngineMatrix
              - runtimeEntityGraph
              - runtimeIntrospectionStream
              - runtimeOptionEcho
              - runtimeSnapshot
              - runtimeSnapshotCompare
              - runtimeWorkflow
              - safeEnvTemplate
              - safeInstall
              - safePathExplain
              - sandboxHealthCheck
              - sandboxRootDoctor
              - schemaRoundTripTest
              - scriptDiscovery
              - search
              - searchPathHints
              - secretScan
              - securityHeadersCheck
              - selectString
              - selectStringFile
              - selfHealingCommandRegistry
              - selfHealPreview
              - semanticCache
              - semanticDiff
              - semanticEditPreview
              - semanticMerge
              - semanticPackageGenerator
              - semanticPipeline
              - semanticRefactor
              - semanticSearch
              - semanticSearchRuntime
              - serverHealthProbe
              - serverRestart
              - serverStart
              - serverStop
              - shellCommand
              - shellSyntaxTranslator
              - simulateFailure
              - simulateRuntime
              - simulateRuntimeProviders
              - snapshotBeforeAfter
              - snapshotWorkspace
              - stackTraceExplain
              - stat
              - stateTimeMachine
              - staticServerList
              - staticServerLogs
              - staticServerStart
              - staticServerStop
              - superviseRuntime
              - symbolContextPack
              - symbolOutline
              - symbolResolutionTrace
              - syntaxCheck
              - templateFork
              - templateFromAction
              - templateFromHistory
              - templatePatchRun
              - templatePromote
              - testDiscovery
              - testFailureExplainer
              - testMatrix
              - testMatrixRunner
              - testRunner
              - testRuntimeOnce
              - textStats
              - toolCallFuzzer
              - toolManifestGenerator
              - toolManifestValidate
              - toolNameCollisionScan
              - toolStressMatrix
              - toolSurfaceDiff
              - toolUsageTelemetry
              - touch
              - transportMethodProbe
              - tree
              - tunnelDoctor
              - tunnelLivenessTimeline
              - typecheckRunner
              - universalAppManifest
              - uploadImage
              - virtualDomDiff
              - virtualDomScreenshot
              - virtualDomSnapshot
              - waitForPort
              - waitForUrl
              - watchTestOnce
              - windowsExeSmokeTest
              - workflowGet
              - workflowList
              - workflowRun
              - workflowStepLinter
              - workflowValidate
              - workspaceDoctor
              - write
              - writeIfHash
              - writeImage
              - writePayloadSizer
              - yamlValidate
        - { name: p, in: query, schema: { type: string, default: "." } }
        - { name: path, in: query, schema: { type: string } }
        - { name: paths, in: query, schema: { type: string } }
        - { name: files, in: query, schema: { type: string } }
        - { name: files64, in: query, schema: { type: string } }
        - { name: writes, in: query, schema: { type: string } }
        - { name: edits, in: query, schema: { type: string } }
        - { name: from, in: query, schema: { type: string } }
        - { name: to, in: query, schema: { type: string } }
        - { name: source, in: query, schema: { type: string } }
        - { name: dest, in: query, schema: { type: string } }
        - { name: target, in: query, schema: { type: string } }
        - { name: targetVessel, in: query, schema: { type: string } }
        - { name: vessel, in: query, schema: { type: string } }
        - { name: fallback, in: query, schema: { type: string } }
        - { name: fs, in: query, schema: { type: string } }
        - { name: cwd, in: query, schema: { type: string, default: "." } }
        - { name: root, in: query, schema: { type: string } }
        - { name: content, in: query, schema: { type: string } }
        - { name: content64, in: query, schema: { type: string } }
        - { name: find, in: query, schema: { type: string } }
        - { name: find64, in: query, schema: { type: string } }
        - { name: replace, in: query, schema: { type: string } }
        - { name: replace64, in: query, schema: { type: string } }
        - { name: query, in: query, schema: { type: string } }
        - { name: query64, in: query, schema: { type: string } }
        - { name: text, in: query, schema: { type: string } }
        - { name: text64, in: query, schema: { type: string } }
        - { name: goal, in: query, schema: { type: string } }
        - { name: goal64, in: query, schema: { type: string } }
        - { name: command, in: query, schema: { type: string } }
        - { name: command64, in: query, schema: { type: string } }
        - { name: commands, in: query, schema: { type: string } }
        - { name: commands64, in: query, schema: { type: string } }
        - { name: script, in: query, schema: { type: string } }
        - { name: script64, in: query, schema: { type: string } }
        - { name: scriptText, in: query, schema: { type: string } }
        - { name: expression, in: query, schema: { type: string } }
        - { name: expression64, in: query, schema: { type: string } }
        - { name: html, in: query, schema: { type: string } }
        - { name: html64, in: query, schema: { type: string } }
        - { name: testCode, in: query, schema: { type: string } }
        - { name: testCode64, in: query, schema: { type: string } }
        - { name: workflow, in: query, schema: { type: string } }
        - { name: workflow64, in: query, schema: { type: string } }
        - { name: workflowName, in: query, schema: { type: string } }
        - { name: tree, in: query, schema: { type: string } }
        - { name: tree64, in: query, schema: { type: string } }
        - { name: commandTree, in: query, schema: { type: string } }
        - { name: commandTree64, in: query, schema: { type: string } }
        - { name: vars, in: query, schema: { type: string } }
        - { name: vars64, in: query, schema: { type: string } }
        - { name: steps, in: query, schema: { type: string } }
        - { name: steps64, in: query, schema: { type: string } }
        - { name: params, in: query, schema: { type: string } }
        - { name: params64, in: query, schema: { type: string } }
        - { name: probes, in: query, schema: { type: string } }
        - { name: probes64, in: query, schema: { type: string } }
        - { name: interactions, in: query, schema: { type: string } }
        - { name: interactions64, in: query, schema: { type: string } }
        - { name: actions, in: query, schema: { type: string } }
        - { name: actions64, in: query, schema: { type: string } }
        - { name: actionsJson, in: query, schema: { type: string } }
        - { name: actionsJson64, in: query, schema: { type: string } }
        - { name: browserActions, in: query, schema: { type: string } }
        - { name: browserActions64, in: query, schema: { type: string } }
        - { name: pageActions, in: query, schema: { type: string } }
        - { name: pageActions64, in: query, schema: { type: string } }
        - { name: returnValues, in: query, schema: { type: string } }
        - { name: returnValues64, in: query, schema: { type: string } }
        - { name: values, in: query, schema: { type: string } }
        - { name: values64, in: query, schema: { type: string } }
        - { name: url, in: query, schema: { type: string } }
        - { name: urlPath, in: query, schema: { type: string } }
        - { name: method, in: query, schema: { type: string, default: "GET" } }
        - { name: headers, in: query, schema: { type: string } }
        - { name: headers64, in: query, schema: { type: string } }
        - { name: body, in: query, schema: { type: string } }
        - { name: body64, in: query, schema: { type: string } }
        - { name: bodyEncoding, in: query, schema: { type: string, default: "utf8" } }
        - { name: selector, in: query, schema: { type: string } }
        - { name: chromePath, in: query, schema: { type: string } }
        - { name: userDataDir, in: query, schema: { type: string } }
        - { name: host, in: query, schema: { type: string, default: "127.0.0.1" } }
        - { name: index, in: query, schema: { type: string, default: "index.html" } }
        - { name: serverId, in: query, schema: { type: string } }
        - { name: sandboxId, in: query, schema: { type: string } }
        - { name: entry, in: query, schema: { type: string } }
        - { name: format, in: query, schema: { type: string, default: "png" } }
        - { name: runtime, in: query, schema: { type: string } }
        - { name: engine, in: query, schema: { type: string } }
        - { name: mode, in: query, schema: { type: string } }
        - { name: readMode, in: query, schema: { type: string } }
        - { name: writeMode, in: query, schema: { type: string } }
        - { name: searchMode, in: query, schema: { type: string } }
        - { name: kind, in: query, schema: { type: string } }
        - { name: xml, in: query, schema: { type: string } }
        - { name: xmlInput, in: query, schema: { type: string } }
        - { name: writesXml, in: query, schema: { type: string } }
        - { name: filesXml, in: query, schema: { type: string } }
        - { name: bundle, in: query, schema: { type: string } }
        - { name: part, in: query, schema: { type: string } }
        - { name: continuationPrompt, in: query, schema: { type: string } }
        - { name: continuationPrompt64, in: query, schema: { type: string } }
        - { name: provider, in: query, schema: { type: string } }
        - { name: providerId, in: query, schema: { type: string } }
        - { name: agent, in: query, schema: { type: string } }
        - { name: agentId, in: query, schema: { type: string } }
        - { name: model, in: query, schema: { type: string } }
        - { name: apiKey, in: query, schema: { type: string } }
        - { name: apiKey64, in: query, schema: { type: string } }
        - { name: message, in: query, schema: { type: string } }
        - { name: message64, in: query, schema: { type: string } }
        - { name: prompt, in: query, schema: { type: string } }
        - { name: prompt64, in: query, schema: { type: string } }
        - { name: system, in: query, schema: { type: string } }
        - { name: system64, in: query, schema: { type: string } }
        - { name: taskId, in: query, schema: { type: string } }
        - { name: title, in: query, schema: { type: string } }
        - { name: outputDir, in: query, schema: { type: string } }
        - { name: fileName, in: query, schema: { type: string } }
        - { name: summaryAgentId, in: query, schema: { type: string } }
        - { name: summaryFileName, in: query, schema: { type: string } }
        - { name: parentTaskId, in: query, schema: { type: string } }
        - { name: rootTaskId, in: query, schema: { type: string } }
        - { name: taskKind, in: query, schema: { type: string } }
        - { name: treeId, in: query, schema: { type: string } }
        - { name: nodeId, in: query, schema: { type: string } }
        - { name: outputId, in: query, schema: { type: string } }
        - { name: outputRef, in: query, schema: { type: string } }
        - { name: resultId, in: query, schema: { type: string } }
        - { name: resultRef, in: query, schema: { type: string } }
        - { name: jobId, in: query, schema: { type: string } }
        - { name: stream, in: query, schema: { type: string } }
        - { name: offsetChars, in: query, schema: { type: integer, default: 0 } }
        - { name: maxChars, in: query, schema: { type: integer, default: 12000 } }
        - { name: totalMaxChars, in: query, schema: { type: integer, default: 24000 } }
        - { name: offsetBytes, in: query, schema: { type: integer, default: 0 } }
        - { name: maxBytes, in: query, schema: { type: integer, default: 24000 } }
        - { name: maxFiles, in: query, schema: { type: integer, default: 5 } }
        - { name: maxResults, in: query, schema: { type: integer, default: 80 } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: pageSize, in: query, schema: { type: integer, default: 50 } }
        - { name: cursor, in: query, schema: { type: integer, default: 0 } }
        - { name: nextCursor, in: query, schema: { type: integer } }
        - { name: maxInlineBytes, in: query, schema: { type: integer, default: 12000 } }
        - { name: maxInlineChars, in: query, schema: { type: integer, default: 12000 } }
        - { name: pageChars, in: query, schema: { type: integer, default: 12000 } }
        - { name: depth, in: query, schema: { type: integer, default: 2 } }
        - { name: limit, in: query, schema: { type: integer, default: 150 } }
        - { name: timeoutMs, in: query, schema: { type: integer, default: 240000 } }
        - { name: maxText, in: query, schema: { type: integer, default: 4000 } }
        - { name: maxSteps, in: query, schema: { type: integer, default: 50 } }
        - { name: maxIterations, in: query, schema: { type: integer, default: 20 } }
        - { name: budgetPerutas, in: query, schema: { type: integer } }
        - { name: budget, in: query, schema: { type: integer } }
        - { name: maxPerutas, in: query, schema: { type: integer } }
        - { name: estimatedPerutas, in: query, schema: { type: integer } }
        - { name: ttlSeconds, in: query, schema: { type: integer } }
        - { name: port, in: query, schema: { type: integer, default: 9222 } }
        - { name: chromePort, in: query, schema: { type: integer, default: 9222 } }
        - { name: waitMs, in: query, schema: { type: integer, default: 800 } }
        - { name: pollMs, in: query, schema: { type: integer, default: 1000 } }
        - { name: settleMs, in: query, schema: { type: integer, default: 2500 } }
        - { name: startupWaitMs, in: query, schema: { type: integer, default: 1200 } }
        - { name: maxDepth, in: query, schema: { type: integer, default: 3 } }
        - { name: maxChildrenPerTask, in: query, schema: { type: integer, default: 8 } }
        - { name: maxTotalTasks, in: query, schema: { type: integer, default: 80 } }
        - { name: pollIntervalMs, in: query, schema: { type: integer, default: 7000 } }
        - { name: promotionCycles, in: query, schema: { type: integer, default: 7 } }
        - { name: agentCycles, in: query, schema: { type: integer, default: 8 } }
        - { name: chapterCycles, in: query, schema: { type: integer, default: 8 } }
        - { name: providerTimeoutMs, in: query, schema: { type: integer, default: 45000 } }
        - { name: checkSyntax, in: query, schema: { type: boolean, default: true } }
        - { name: runtimeCheck, in: query, schema: { type: boolean, default: false } }
        - { name: regex, in: query, schema: { type: boolean, default: false } }
        - { name: replaceAll, in: query, schema: { type: boolean, default: true } }
        - { name: dryRun, in: query, schema: { type: boolean, default: true } }
        - { name: confirm, in: query, schema: { type: boolean, default: false } }
        - { name: includeDirs, in: query, schema: { type: boolean, default: false } }
        - { name: write, in: query, schema: { type: boolean, default: false } }
        - { name: snapshot, in: query, schema: { type: boolean, default: true } }
        - { name: headless, in: query, schema: { type: boolean, default: false } }
        - { name: fullPage, in: query, schema: { type: boolean, default: true } }
        - { name: allowWrite, in: query, schema: { type: boolean } }
        - { name: allowSecrets, in: query, schema: { type: boolean } }
        - { name: enableLocalHttpProxy, in: query, schema: { type: boolean } }
        - { name: allowCommands, in: query, schema: { type: boolean } }
        - { name: stream, in: query, schema: { type: boolean } }
        - { name: async, in: query, schema: { type: boolean } }
        - { name: asyncCommand, in: query, schema: { type: boolean } }
        - { name: background, in: query, schema: { type: boolean } }
        - { name: guidanceDebug, in: query, schema: { type: boolean, default: false } }
        - { name: debugGuidance, in: query, schema: { type: boolean, default: false } }
        - { name: allowRecursiveSpawn, in: query, schema: { type: boolean, default: true } }
        - { name: continueCurrent, in: query, schema: { type: boolean, default: false } }
        - { name: open, in: query, schema: { type: boolean, default: false } }
        - { name: wait, in: query, schema: { type: boolean, default: false } }
        - { name: optional, in: query, schema: { type: boolean, default: false } }
        - { name: required, in: query, schema: { type: boolean, default: true } }
        - { name: continueOnError, in: query, schema: { type: boolean, default: false } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/preview/{tunnelName}:
    get:
      operationId: awtsmoosPreviewProxy
      summary: Fetch preview through tunnel.
      security: [{ OAuth2: [profile, tunnel.read] }]
      parameters:
        - { name: tunnelName, in: path, required: true, schema: { type: string } }
        - { name: url, in: query, schema: { type: string } }
        - { name: maxChars, in: query, schema: { type: integer, default: 500000 } }
        - { name: timeoutMs, in: query, schema: { type: integer, default: 30000 } }
      responses:
        "200": { description: Preview response body }
components:
  schemas:
    AnyResponse:
      type: object
      additionalProperties: true
      properties:
        ok: { type: boolean }
        BH: { type: string }
        error: { type: string }
        message: { type: string }
        outputId: { type: string }
        outputRef: { type: string }
        jobId: { type: string }
        statusPayload: { type: object, additionalProperties: true }
        stdoutPagePayload: { type: object, additionalProperties: true }
        stderrPagePayload: { type: object, additionalProperties: true }
        nextRequest: { type: object, additionalProperties: true }
        nextPagePayload: { type: object, additionalProperties: true }
        nextStdoutPagePayload: { type: object, additionalProperties: true }
        nextStderrPagePayload: { type: object, additionalProperties: true }
        nextScanRequest: { type: object, additionalProperties: true }
        aiGuidance: { type: object, additionalProperties: true }
        finalInstruction:
          type: object
          additionalProperties: true
          properties:
            role: { type: string }
            content: { type: string }
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://awtsmoos.com/api/oauth/start
          tokenUrl: https://awtsmoos.com/api/oauth/token
          scopes:
            profile: Basic identity access.
            tunnel.read: Read tunnel state and Virtual OS content.
            tunnel.write: Modify files in authorized local or Virtual OS roots.
            tunnel.command: Execute command-class diagnostics where permitted.
            tunnel.browser: Browser automation where permitted.
            tunnel.admin: Administrative tunnel operations.
