# B"H
# Boruch Hashem
# Blessed is He
openapi: 3.1.0
info:
  title: Awtsmoos Tunnel Control GPT Actions
  version: 8.0.0-compact
  description: "B'H. Read responseFocus before continuing. Answer multipleChoiceSelfInterrogation before unrelated actions. Use one of the fourteen public capability names in action. Put the exact internal tunnel operation in the required operation parameter. Examples: action=files operation=read; action=command operation=commandRun; action=status operation=agentDoctor; action=recover operation=nativeGenerationReplace. Legacy direct operation names may remain compatible for older clients but are not public tools. ChatGPT URL workflow: when given a ChatGPT conversation URL, use action=browser with operation=chatgptSeasonSaveAndContinue. It registers the URL, verifies navigation, waits for the visible conversation to be idle, prunes heavy DOM, sends through the visible UI, waits for completion, journals, and writes receipts. Website-agent workflow: use action=agent with operation=aiAgentSpawnWebsiteMission and parentWebsiteMissionId, parentAgentId, requestKey, role, scope, and childPrompt. Report progress with operation=websiteAgentMissionMessage and mark complete only with evidence."
servers:
  - url: https://awtsmoos.com
paths:
  /api/tunnel/control/bootstrap:
    get:
      operationId: awtsmoosBootstrap
      summary: Get setup instructions.
      security: []
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/my-device:
    get:
      operationId: awtsmoosMyDevice
      summary: Discover active connected tunnel.
      security: [{ OAuth2: [profile, tunnel.read] }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/fs/{tunnelName}:
    get:
      operationId: awtsmoosTunnelAction
      summary: Run one compact tunnel capability and exact internal operation.
      description: "B'H. Read responseFocus before continuing. Answer multipleChoiceSelfInterrogation before unrelated actions. Use one of the fourteen public capability names in action. Put the exact internal tunnel operation in the required operation parameter. Examples: action=files operation=read; action=command operation=commandRun; action=status operation=agentDoctor; action=recover operation=nativeGenerationReplace. Legacy direct operation names may remain compatible for older clients but are not public tools. ChatGPT URL workflow: when given a ChatGPT conversation URL, use action=browser with operation=chatgptSeasonSaveAndContinue. It registers the URL, verifies navigation, waits for the visible conversation to be idle, prunes heavy DOM, sends through the visible UI, waits for completion, journals, and writes receipts. Website-agent workflow: use action=agent with operation=aiAgentSpawnWebsiteMission and parentWebsiteMissionId, parentAgentId, requestKey, role, scope, and childPrompt. Report progress with operation=websiteAgentMissionMessage and mark complete only with evidence."
      security: [{ OAuth2: [profile, tunnel.read, tunnel.write, tunnel.command, tunnel.browser, tunnel.mission, tunnel.room, tunnel.admin] }]
      parameters:
        - { name: tunnelName, in: path, required: true, schema: { type: string } }
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum:
              - agent
              - batch
              - browser
              - command
              - files
              - git
              - mission
              - preview
              - recover
              - runtime
              - status
              - system
              - test
              - web
        - { name: operation, in: query, required: true, schema: { type: string } }
        - { name: p, in: query, schema: { type: string } }
        - { name: path, in: query, schema: { type: string } }
        - { name: cwd, in: query, schema: { type: string } }
        - { name: root, in: query, schema: { type: string } }
        - { name: content, in: query, schema: { type: string } }
        - { name: content64, in: query, schema: { type: string } }
        - { name: find, in: query, schema: { type: string } }
        - { name: find64, in: query, schema: { type: string } }
        - { name: replace, in: query, schema: { type: string } }
        - { name: replace64, in: query, schema: { type: string } }
        - { name: query, in: query, schema: { type: string } }
        - { name: query64, in: query, schema: { type: string } }
        - { name: command, in: query, schema: { type: string } }
        - { name: command64, in: query, schema: { type: string } }
        - { name: text, in: query, schema: { type: string } }
        - { name: text64, in: query, schema: { type: string } }
        - { name: goal, in: query, schema: { type: string } }
        - { name: goal64, in: query, schema: { type: string } }
        - { name: params, in: query, schema: { type: string } }
        - { name: params64, in: query, schema: { type: string } }
        - { name: actions, in: query, schema: { type: string } }
        - { name: actions64, in: query, schema: { type: string } }
        - { name: actionsJson, in: query, schema: { type: string } }
        - { name: actionsJson64, in: query, schema: { type: string } }
        - { name: writes, in: query, schema: { type: string } }
        - { name: writes64, in: query, schema: { type: string } }
        - { name: files, in: query, schema: { type: string } }
        - { name: files64, in: query, schema: { type: string } }
        - { name: paths, in: query, schema: { type: string } }
        - { name: paths64, in: query, schema: { type: string } }
        - { name: tree, in: query, schema: { type: string } }
        - { name: tree64, in: query, schema: { type: string } }
        - { name: vars, in: query, schema: { type: string } }
        - { name: vars64, in: query, schema: { type: string } }
        - { name: url, in: query, schema: { type: string } }
        - { name: conversationUrl, in: query, schema: { type: string } }
        - { name: chatgptUrl, in: query, schema: { type: string } }
        - { name: sessionId, in: query, schema: { type: string } }
        - { name: chatgptSessionId, in: query, schema: { type: string } }
        - { name: conversationId, in: query, schema: { type: string } }
        - { name: selector, in: query, schema: { type: string } }
        - { name: targetVessel, in: query, schema: { type: string } }
        - { name: vessel, in: query, schema: { type: string } }
        - { name: fallback, in: query, schema: { type: string } }
        - { name: routeReference, in: query, schema: { type: string } }
        - { name: treeId, in: query, schema: { type: string } }
        - { name: outputId, in: query, schema: { type: string } }
        - { name: jobId, in: query, schema: { type: string } }
        - { name: taskId, in: query, schema: { type: string } }
        - { name: actionId, in: query, schema: { type: string } }
        - { name: processKey, in: query, schema: { type: string } }
        - { name: receiptId, in: query, schema: { type: string } }
        - { name: workerId, in: query, schema: { type: string } }
        - { name: stream, in: query, schema: { type: string } }
        - { name: controlRequestId, in: query, schema: { type: string } }
        - { name: originalControlRequestId, in: query, schema: { type: string } }
        - { name: clientRequestId, in: query, schema: { type: string } }
        - { name: requestedAction, in: query, schema: { type: string } }
        - { name: requestAction, in: query, schema: { type: string } }
        - { name: resumeToken, in: query, schema: { type: string } }
        - { name: continuationPrompt, in: query, schema: { type: string } }
        - { name: continuationPrompt64, in: query, schema: { type: string } }
        - { name: multipleChoiceAnswer, in: query, schema: { type: string } }
        - { name: choice, in: query, schema: { type: string } }
        - { name: answer, in: query, schema: { type: string } }
        - { name: missionId, in: query, schema: { type: string } }
        - { name: websiteMissionId, in: query, schema: { type: string } }
        - { name: parentWebsiteMissionId, in: query, schema: { type: string } }
        - { name: parentMissionId, in: query, schema: { type: string } }
        - { name: projectRoot, in: query, schema: { type: string } }
        - { name: logicalAgentId, in: query, schema: { type: string } }
        - { name: agentSessionId, in: query, schema: { type: string } }
        - { name: agentId, in: query, schema: { type: string } }
        - { name: parentAgentId, in: query, schema: { type: string } }
        - { name: agentName, in: query, schema: { type: string } }
        - { name: claimId, in: query, schema: { type: string } }
        - { name: delegationId, in: query, schema: { type: string } }
        - { name: requestKey, in: query, schema: { type: string } }
        - { name: spawnRequestKey, in: query, schema: { type: string } }
        - { name: provider, in: query, schema: { type: string } }
        - { name: providerId, in: query, schema: { type: string } }
        - { name: model, in: query, schema: { type: string } }
        - { name: apiKey, in: query, schema: { type: string } }
        - { name: apiKey64, in: query, schema: { type: string } }
        - { name: message, in: query, schema: { type: string } }
        - { name: message64, in: query, schema: { type: string } }
        - { name: prompt, in: query, schema: { type: string } }
        - { name: prompt64, in: query, schema: { type: string } }
        - { name: childPrompt, in: query, schema: { type: string } }
        - { name: system, in: query, schema: { type: string } }
        - { name: system64, in: query, schema: { type: string } }
        - { name: profile, in: query, schema: { type: string } }
        - { name: role, in: query, schema: { type: string } }
        - { name: scope, in: query, schema: { type: string } }
        - { name: kind, in: query, schema: { type: string } }
        - { name: evidence, in: query, schema: { type: string } }
        - { name: reportId, in: query, schema: { type: string } }
        - { name: next, in: query, schema: { type: string } }
        - { name: findings, in: query, schema: { type: string } }
        - { name: references, in: query, schema: { type: string } }
        - { name: reason, in: query, schema: { type: string } }
        - { name: offsetChars, in: query, schema: { type: integer, default: 0 } }
        - { name: offsetBytes, in: query, schema: { type: integer, default: 0 } }
        - { name: maxInlineChars, in: query, schema: { type: integer, default: 12000 } }
        - { name: pageChars, in: query, schema: { type: integer, default: 12000 } }
        - { name: maxChars, in: query, schema: { type: integer, default: 12000 } }
        - { name: maxBytes, in: query, schema: { type: integer, default: 24000 } }
        - { name: totalMaxChars, in: query, schema: { type: integer, default: 24000 } }
        - { name: maxFiles, in: query, schema: { type: integer, default: 5 } }
        - { name: depth, in: query, schema: { type: integer, default: 2 } }
        - { name: limit, in: query, schema: { type: integer, default: 150 } }
        - { name: timeoutMs, in: query, schema: { type: integer, default: 240000 } }
        - { name: waitTimeoutMs, in: query, schema: { type: integer, default: 25000 } }
        - { name: budgetPerutas, in: query, schema: { type: integer, default: 0 } }
        - { name: ttlSeconds, in: query, schema: { type: integer, default: 3600 } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: pageSize, in: query, schema: { type: integer, default: 50 } }
        - { name: port, in: query, schema: { type: integer, default: 9222 } }
        - { name: pollIntervalMs, in: query, schema: { type: integer, default: 7000 } }
        - { name: leaseMs, in: query, schema: { type: integer, default: 3600000 } }
        - { name: maxTurns, in: query, schema: { type: integer, default: 40 } }
        - { name: batchTurns, in: query, schema: { type: integer, default: 1 } }
        - { name: keepTurns, in: query, schema: { type: integer, default: 24 } }
        - { name: keepTabs, in: query, schema: { type: integer, default: 1 } }
        - { name: settleMs, in: query, schema: { type: integer, default: 2500 } }
        - { name: allowWrite, in: query, schema: { type: boolean } }
        - { name: allowCommands, in: query, schema: { type: boolean } }
        - { name: allowSecrets, in: query, schema: { type: boolean } }
        - { name: enableLocalHttpProxy, in: query, schema: { type: boolean } }
        - { name: regex, in: query, schema: { type: boolean, default: false } }
        - { name: replaceAll, in: query, schema: { type: boolean, default: true } }
        - { name: dryRun, in: query, schema: { type: boolean, default: true } }
        - { name: confirm, in: query, schema: { type: boolean, default: false } }
        - { name: optional, in: query, schema: { type: boolean, default: false } }
        - { name: continueOnError, in: query, schema: { type: boolean, default: false } }
        - { name: asyncCommand, in: query, schema: { type: boolean, default: false } }
        - { name: background, in: query, schema: { type: boolean, default: false } }
        - { name: inlineOutput, in: query, schema: { type: boolean, default: true } }
        - { name: guidanceDebug, in: query, schema: { type: boolean, default: false } }
        - { name: debugGuidance, in: query, schema: { type: boolean, default: false } }
        - { name: blockOnUserMessage, in: query, schema: { type: boolean, default: true } }
        - { name: allowContinue, in: query, schema: { type: boolean, default: false } }
        - { name: optimizeDom, in: query, schema: { type: boolean, default: true } }
        - { name: closeOldTabs, in: query, schema: { type: boolean, default: false } }
        - { name: complete, in: query, schema: { type: boolean, default: false } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/preview/{tunnelName}:
    get:
      operationId: awtsmoosPreviewProxy
      summary: Fetch preview through tunnel.
      security: [{ OAuth2: [profile, tunnel.read] }]
      parameters:
        - { name: tunnelName, in: path, required: true, schema: { type: string } }
        - { name: url, in: query, schema: { type: string } }
        - { name: maxChars, in: query, schema: { type: integer, default: 500000 } }
      responses:
        "200": { description: Preview response body }
components:
  schemas:
    AnyResponse:
      type: object
      additionalProperties: true
      properties:
        ok: { type: boolean }
        error: { type: string }
        action: { type: string }
        responseFocus: { type: object, additionalProperties: true }
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://awtsmoos.com/api/oauth/start
          tokenUrl: https://awtsmoos.com/api/oauth/token
          scopes:
            profile: Basic identity access.
            tunnel.read: Read tunnel state.
            tunnel.write: Modify authorized files.
            tunnel.command: Execute command diagnostics.
            tunnel.browser: Browser automation.
            tunnel.mission: Coordinate mission lifecycle.
            tunnel.room: Read and publish shared-room messages.
            tunnel.admin: Administrative tunnel operations.
