openapi: 3.1.0
info:
  title: Awtsmoos Tunnel Control GPT Actions Live Agent Surface
  version: 5.4.0-generated
  description: B"H. Generated from docs/actions.js. GET-only transport with UTF-8 query parameters. Use finishAndContinue at the end of an autonomous run to return the configured continuation prompt as finalInstruction.
servers:
  - url: https://awtsmoos.com
paths:
  /api/tunnel/control/bootstrap:
    get:
      operationId: awtsmoosBootstrap
      summary: Get setup instructions.
      security: []
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/my-device:
    get:
      operationId: awtsmoosMyDevice
      summary: Discover active connected tunnel.
      security: [{ OAuth2: [profile, tunnel.read] }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/fs/{tunnelName}:
    get:
      operationId: awtsmoosTunnelAction
      summary: Unified tunnel action endpoint.
      description: B"H. Run one tunnel action. For long autonomous loops, call finishAndContinue after finishing; then continue with the returned finalInstruction.content when appropriate.
      parameters:
        - { name: tunnelName, in: path, required: true, schema: { type: string } }
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum:
              - absoluteImportMapper
              - abstractionLeakTrace
              - actionAliasResolver
              - actionBatch
              - actionHistoryDiff
              - actionHistoryExplain
              - actionHistoryGet
              - actionHistoryList
              - actionHistoryPatch
              - actionHistoryReplace
              - actionHistoryReplay
              - actionHistorySearch
              - actionSchemaTrace
              - affectedComponents
              - affectedRoutes
              - affectedTests
              - agentDoctor
              - agentSelfTest
              - agentVersionSkewCheck
              - aiCommandBatch
              - aiContextPack
              - aiTemplateGet
              - aiTemplateList
              - aiTemplateRender
              - aiTemplateRun
              - aiWorkflowLang
              - aiWorkflowRun
              - apiContractCheck
              - apiContractDiscover
              - apiSmokeTest
              - applyPatch
              - architectureScore
              - assertAction
              - astOutline
              - astParserHealth
              - autonomousBackgroundAgents
              - awtsmoosCommandTree
              - batchDryRun
              - batchShapeValidator
              - blastRadiusAnalysis
              - browserConsoleTriage
              - browserDoctor
              - browserReplay
              - bugReproPack
              - buildRunner
              - bulk
              - bulkSearch
              - bulkSearchPage
              - bulkWrite
              - bulkWriteIfHashes
              - bundleTrace
              - capabilityParityAudit
              - changeImpactGraph
              - checkAiRender
              - checkAwtsmoosAi
              - checkTunnelSurface
              - chromeAccessibilitySnapshot
              - chromeClick
              - chromeCookieDelete
              - chromeCookieSet
              - chromeCookies
              - chromeEval
              - chromeEvalSlim
              - chromeFind
              - chromeLaunch
              - chromeLogs
              - chromeNavigate
              - chromeNetwork
              - chromeRunScript
              - chromeScreenshot
              - chromeSessionExport
              - chromeSessionImport
              - chromeSnapshot
              - chromeSnapshotScoped
              - chromeStatus
              - chromeStorage
              - chromeStorageDelete
              - chromeStorageSet
              - chromeTargetSelector
              - chromeTestUrl
              - chromeType
              - chromeUseHttpCookies
              - chromeWaitForSelector
              - commandBatch
              - commandFailureClassifier
              - commandIntentClassifier
              - commandMemoryDelete
              - commandMemoryFork
              - commandMemoryGet
              - commandMemoryList
              - commandMemoryPatch
              - commandMemoryRun
              - commandMemorySave
              - commandPresetDelete
              - commandPresetGet
              - commandPresetList
              - commandPresetRun
              - commandPresetSave
              - commandRun
              - commandTreeCancel
              - commandTreeDryRun
              - commandTreeExplain
              - commandTreeLoad
              - commandTreeReplay
              - commandTreeResume
              - commandTreeRun
              - commandTreeSave
              - commandTreeStatus
              - commandTreeValidate
              - commandTreeVisualize
              - conditionExpressionTester
              - configDriftScan
              - configGet
              - configSet
              - connectedFiles
              - consoleErrorTriage
              - copyFile
              - copyTree
              - coverageRunner
              - credentialLeakRisk
              - crossSurfaceToolDocs
              - ctxPathProbe
              - deadCommentDetector
              - deadExportScan
              - deleteFile
              - deleteTree
              - dependencyBlindSpotScan
              - dependencyCycleCheck
              - dependencyDiff
              - dependencyDoctor
              - dependencyGraph
              - dependencyInstallPlan
              - dependencyRiskScan
              - dependencyVulnPlan
              - destructiveIntentGate
              - detectAbstractionLeaks
              - detectConceptClusters
              - detectDeadConcepts
              - docsGeneratedFreshness
              - doctorAll
              - duplicateBasenames
              - duplicateConceptScan
              - emptyDir
              - endpointDiscovery
              - endpointMethodProbe
              - ensureFile
              - envDoctor
              - envFileAudit
              - environmentVirtualizer
              - errorCluster
              - failedActionMemory
              - failingTestTriage
              - fileHashes
              - fileTreeDiff
              - find
              - findFiles
              - findReplace
              - finishAndContinue
              - forEachActionBatch
              - fsPermissionEnvelope
              - functionPatchDryRun
              - generateRepairPlan
              - generateTestUniverse
              - getPostMismatchScan
              - gitBranchDoctor
              - gitConflictExplainer
              - gitDiffSmart
              - gitDoctor
              - gitIgnoreDoctor
              - gitMergeDoctor
              - gitPatchSummary
              - gitRemoteHealth
              - gitSafeCommitPlan
              - gitStashPlan
              - gitStatusDeep
              - goalCompiler
              - grep
              - handoffPack
              - hashGuardAdvisor
              - httpCookieDelete
              - httpCookieJarList
              - httpCookieSet
              - httpCookies
              - httpDownload
              - httpJson
              - httpRequest
              - httpSessionClear
              - httpTrace
              - httpUseChromeCookies
              - importResolverExplain
              - inferArchitecture
              - inferBusinessRules
              - insertAfterFunction
              - insertBeforeFunction
              - inspectHumanConfusion
              - inspectRenderStorms
              - inspectRuntime
              - installPlan
              - installScriptParityCheck
              - instantTests
              - intentDriftDetector
              - interactionRecorder
              - interactionReplayDiff
              - isolatedCleanup
              - isolatedHtmlTest
              - isolatedJsTest
              - isolatedNodeCheck
              - isolatedToolRepairPlan
              - jsdocCoverageScan
              - jsonFormat
              - jsonValidate
              - largeFileSplitPlanner
              - largeFiles
              - lastActionReplay
              - lastFailureExplain
              - launchPreview
              - lazyContextPack
              - lintRunner
              - list
              - listPreviews
              - localVsPublicRouteDiff
              - lockfileDoctor
              - logSearch
              - logTail
              - macroExplain
              - macroPatch
              - macroRecordStart
              - macroRecordStop
              - macroReplay
              - md
              - merkavaCommandTree
              - merkavaParserSmoke
              - merkavaVsChromeDiff
              - merkavaWorkflowRun
              - microPatchPlanner
              - minimalReproGenerator
              - mkdirp
              - modelToolCompatibility
              - moduleGraphCompleteness
              - moveFile
              - moveTree
              - mutationPatchTest
              - networkDoctor
              - networkFailureTriage
              - networkReplaySummary
              - nodeCheck
              - nodeCheckMany
              - nodeCheckTree
              - nodeDoctor
              - nodeEval
              - nodeInstantTests
              - nodeScriptRun
              - nodeVersionCompatibility
              - npmScriptExplain
              - npmScriptMatrix
              - oauthDoctor
              - oauthStateDoctor
              - openApiAgentDiff
              - openApiRegenerator
              - openRoot
              - orchestrationGraph
              - outdatedDependencyScan
              - packageInfo
              - packageManagerDoctor
              - packageScriptRunner
              - parallelActionBatch
              - pathDoctor
              - payloadEcho
              - payloadShapeInfer
              - perfBudgetCheck
              - permissionDoctor
              - placeholderDetector
              - policyGuard
              - portDoctor
              - portFind
              - portKillSafe
              - portList
              - powershellCompatibilityCheck
              - previewBranchMatrix
              - previewBuildRunner
              - previewLogs
              - probeCoverageMap
              - processDoctor
              - processFind
              - processKillSafe
              - processList
              - projectOverview
              - providerCapabilityMatrix
              - read
              - read64
              - readBytes
              - readLines
              - readManyLines
              - recentFiles
              - regexFallbackDetector
              - releasePack
              - repairPatchSuggester
              - replaceFunction
              - replaceFunctionBody
              - replaceRange
              - repoDoctor
              - restartPreview
              - restoreSnapshotPlan
              - retryAction
              - reviewPack
              - rg
              - rgbgrep
              - rootBrowse
              - rootSelect
              - roots
              - routeAudit
              - routeContextPack
              - routeExecutorGraph
              - runtimeContractRegistry
              - runtimeEngineMatrix
              - runtimeEntityGraph
              - runtimeIntrospectionStream
              - runtimeOptionEcho
              - runtimeSnapshot
              - runtimeSnapshotCompare
              - runtimeWorkflow
              - safeEnvTemplate
              - safeInstall
              - safePathExplain
              - sandboxHealthCheck
              - sandboxRootDoctor
              - schemaRoundTripTest
              - scriptDiscovery
              - secretScan
              - securityHeadersCheck
              - selfHealPreview
              - selfHealingCommandRegistry
              - semanticCache
              - semanticDiff
              - semanticEditPreview
              - semanticMerge
              - semanticPackageGenerator
              - semanticPipeline
              - semanticRefactor
              - semanticSearch
              - semanticSearchRuntime
              - serverHealthProbe
              - serverRestart
              - serverStart
              - serverStop
              - shellSyntaxTranslator
              - simulateFailure
              - simulateRuntime
              - simulateRuntimeProviders
              - snapshotBeforeAfter
              - snapshotWorkspace
              - stackTraceExplain
              - stat
              - stateTimeMachine
              - staticServerList
              - staticServerLogs
              - staticServerStart
              - staticServerStop
              - stopPreview
              - superviseRuntime
              - symbolContextPack
              - symbolOutline
              - symbolResolutionTrace
              - templateFork
              - templateFromAction
              - templateFromHistory
              - templatePatchRun
              - templatePromote
              - testDiscovery
              - testFailureExplainer
              - testMatrix
              - testMatrixRunner
              - testRunner
              - testRuntimeOnce
              - textStats
              - toolCallFuzzer
              - toolManifestGenerator
              - toolManifestValidate
              - toolNameCollisionScan
              - toolStressMatrix
              - toolSurfaceDiff
              - toolUsageTelemetry
              - touch
              - transportMethodProbe
              - tree
              - tunnelDoctor
              - tunnelLivenessTimeline
              - typecheckRunner
              - universalAppManifest
              - virtualDomDiff
              - waitForPort
              - waitForUrl
              - watchTestOnce
              - workflowGet
              - workflowList
              - workflowRun
              - workflowStepLinter
              - workflowValidate
              - workspaceDoctor
              - write
              - writeIfHash
              - writePayloadSizer
        - { name: p, in: query, schema: { type: string, default: "." } }
        - { name: path, in: query, schema: { type: string } }
        - { name: paths, in: query, schema: { type: string } }
        - { name: files, in: query, schema: { type: string } }
        - { name: writes, in: query, schema: { type: string } }
        - { name: edits, in: query, schema: { type: string } }
        - { name: from, in: query, schema: { type: string } }
        - { name: to, in: query, schema: { type: string } }
        - { name: source, in: query, schema: { type: string } }
        - { name: dest, in: query, schema: { type: string } }
        - { name: target, in: query, schema: { type: string } }
        - { name: cwd, in: query, schema: { type: string, default: "." } }
        - { name: root, in: query, schema: { type: string } }
        - { name: content, in: query, schema: { type: string } }
        - { name: find, in: query, schema: { type: string } }
        - { name: replace, in: query, schema: { type: string } }
        - { name: query, in: query, schema: { type: string } }
        - { name: text, in: query, schema: { type: string } }
        - { name: goal, in: query, schema: { type: string } }
        - { name: command, in: query, schema: { type: string } }
        - { name: script, in: query, schema: { type: string } }
        - { name: scriptText, in: query, schema: { type: string } }
        - { name: expression, in: query, schema: { type: string } }
        - { name: html, in: query, schema: { type: string } }
        - { name: testCode, in: query, schema: { type: string } }
        - { name: workflow, in: query, schema: { type: string } }
        - { name: workflowName, in: query, schema: { type: string } }
        - { name: steps, in: query, schema: { type: string } }
        - { name: params, in: query, schema: { type: string } }
        - { name: probes, in: query, schema: { type: string } }
        - { name: interactions, in: query, schema: { type: string } }
        - { name: url, in: query, schema: { type: string } }
        - { name: urlPath, in: query, schema: { type: string } }
        - { name: method, in: query, schema: { type: string, default: "GET" } }
        - { name: headers, in: query, schema: { type: string } }
        - { name: body, in: query, schema: { type: string } }
        - { name: bodyEncoding, in: query, schema: { type: string, default: "utf8" } }
        - { name: selector, in: query, schema: { type: string } }
        - { name: chromePath, in: query, schema: { type: string } }
        - { name: userDataDir, in: query, schema: { type: string } }
        - { name: host, in: query, schema: { type: string, default: "127.0.0.1" } }
        - { name: index, in: query, schema: { type: string, default: "index.html" } }
        - { name: serverId, in: query, schema: { type: string } }
        - { name: sandboxId, in: query, schema: { type: string } }
        - { name: entry, in: query, schema: { type: string } }
        - { name: format, in: query, schema: { type: string, default: "png" } }
        - { name: runtime, in: query, schema: { type: string } }
        - { name: engine, in: query, schema: { type: string } }
        - { name: continuationPrompt, in: query, schema: { type: string } }
        - { name: checkSyntax, in: query, schema: { type: boolean, default: true } }
        - { name: runtimeCheck, in: query, schema: { type: boolean, default: false } }
        - { name: offsetChars, in: query, schema: { type: integer, default: 0 } }
        - { name: maxChars, in: query, schema: { type: integer, default: 12000 } }
        - { name: totalMaxChars, in: query, schema: { type: integer, default: 24000 } }
        - { name: offsetBytes, in: query, schema: { type: integer, default: 0 } }
        - { name: maxBytes, in: query, schema: { type: integer, default: 24000 } }
        - { name: maxFiles, in: query, schema: { type: integer, default: 5 } }
        - { name: maxResults, in: query, schema: { type: integer, default: 80 } }
        - { name: depth, in: query, schema: { type: integer, default: 2 } }
        - { name: limit, in: query, schema: { type: integer, default: 150 } }
        - { name: timeoutMs, in: query, schema: { type: integer, default: 240000 } }
        - { name: maxText, in: query, schema: { type: integer, default: 4000 } }
        - { name: maxSteps, in: query, schema: { type: integer, default: 50 } }
        - { name: maxIterations, in: query, schema: { type: integer, default: 20 } }
        - { name: port, in: query, schema: { type: integer, default: 9222 } }
        - { name: regex, in: query, schema: { type: boolean, default: false } }
        - { name: replaceAll, in: query, schema: { type: boolean, default: true } }
        - { name: dryRun, in: query, schema: { type: boolean, default: true } }
        - { name: confirm, in: query, schema: { type: boolean, default: false } }
        - { name: includeDirs, in: query, schema: { type: boolean, default: false } }
        - { name: write, in: query, schema: { type: boolean, default: false } }
        - { name: snapshot, in: query, schema: { type: boolean, default: true } }
        - { name: headless, in: query, schema: { type: boolean, default: false } }
        - { name: fullPage, in: query, schema: { type: boolean, default: true } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/preview/{tunnelName}:
    get:
      operationId: awtsmoosPreviewProxy
      summary: Fetch preview through tunnel.
      parameters:
        - { name: tunnelName, in: path, required: true, schema: { type: string } }
        - { name: url, in: query, schema: { type: string } }
        - { name: maxChars, in: query, schema: { type: integer, default: 500000 } }
        - { name: timeoutMs, in: query, schema: { type: integer, default: 30000 } }
      responses:
        "200": { description: Preview response body }
components:
  schemas:
    AnyResponse:
      type: object
      additionalProperties: true
      properties:
        ok: { type: boolean }
        BH: { type: string }
        error: { type: string }
        message: { type: string }
        finalInstruction:
          type: object
          additionalProperties: true
          properties:
            role: { type: string }
            content: { type: string }
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://awtsmoos.com/api/oauth/start
          tokenUrl: https://awtsmoos.com/api/oauth/token
          scopes:
            profile: Basic identity access.
            tunnel.read: Read tunnel state.
            tunnel.write: Modify files.
            tunnel.command: Execute diagnostics.
            tunnel.browser: Browser automation.
            tunnel.admin: Administrative tunnel operations.
