openapi: 3.1.0
info:
  title: Awtsmoos Tunnel Control GPT Actions
  version: 7.0.0-generated
  description: B"H. After every response, obey responseFocus.oneMainThing. If multipleChoiceSelfInterrogation is present, answer with multipleChoiceAnswer/choice/answer before any unrelated action. If ignored, the server returns allCapsPrompt and blocks continuation.
servers:
  - url: https://awtsmoos.com
paths:
  /api/tunnel/control/bootstrap:
    get:
      operationId: awtsmoosBootstrap
      summary: Get setup instructions.
      security: []
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/my-device:
    get:
      operationId: awtsmoosMyDevice
      summary: Discover active connected tunnel.
      security: [{ OAuth2: [profile, tunnel.read] }]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/fs/{tunnelName}:
    get:
      operationId: awtsmoosTunnelAction
      summary: Run one tunnel action.
      description: B"H. After every response, obey responseFocus.oneMainThing. If multipleChoiceSelfInterrogation is present, answer with multipleChoiceAnswer/choice/answer before any unrelated action. If ignored, the server returns allCapsPrompt and blocks continuation. Use guidanceDebug=true only when raw protocol details are needed.
      security: [{ OAuth2: [profile, tunnel.read, tunnel.write, tunnel.command, tunnel.browser, tunnel.admin] }]
      parameters:
        - { name: tunnelName, in: path, required: true, schema: { type: string } }
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum:
              - absoluteImportMapper
              - abstractionLeakTrace
              - actionAliasResolver
              - actionBatch
              - actionHistoryDiff
              - actionHistoryExplain
              - actionHistoryGarbageCollect
              - actionHistoryGet
              - actionHistoryList
              - actionHistoryPatch
              - actionHistoryPin
              - actionHistoryReplace
              - actionHistoryReplay
              - actionHistorySearch
              - actionHistoryUnpin
              - actionSchemaTrace
              - affectedComponents
              - affectedRoutes
              - affectedTests
              - agentDoctor
              - agentSelfTest
              - agentVersionSkewCheck
              - aiCommandBatch
              - aiContextPack
              - aiWorkflowLang
              - aiWorkflowRun
              - apiContractCheck
              - apiContractDiscover
              - apiSmokeTest
              - applyPatch
              - architectureScore
              - assertAction
              - astOutline
              - astParserHealth
              - autonomousBackgroundAgents
              - awtsmoosCommandTree
              - batchDryRun
              - batchShapeValidator
              - blastRadiusAnalysis
              - browserConsoleTriage
              - browserDoctor
              - browserReplay
              - bugReproPack
              - buildRunner
              - bulk
              - bulkDebugPayload
              - bulkWrite
              - bulkWriteIfHashes
              - bundleTrace
              - capabilityParityAudit
              - changeImpactGraph
              - chromeClick
              - chromeEval
              - chromeEvalSlim
              - chromeFind
              - chromeLaunch
              - chromeLogs
              - chromeNavigate
              - chromeRunScript
              - chromeScreenshot
              - chromeSnapshot
              - chromeSnapshotScoped
              - chromeStatus
              - chromeTargetSelector
              - chromeType
              - chromeWaitForSelector
              - command
              - commandBatch
              - commandCancel
              - commandFailureClassifier
              - commandIntentClassifier
              - commandJobCancel
              - commandJobOutputPage
              - commandJobStatus
              - commandMemoryDelete
              - commandMemoryFork
              - commandMemoryGet
              - commandMemoryList
              - commandMemoryPatch
              - commandMemoryRun
              - commandMemorySave
              - commandOutputPage
              - commandPoll
              - commandRun
              - commandStart
              - commandStatus
              - commandTreeCancel
              - commandTreeDryRun
              - commandTreeExplain
              - commandTreeLoad
              - commandTreeReplay
              - commandTreeResume
              - commandTreeRun
              - commandTreeSave
              - commandTreeStatus
              - commandTreeValidate
              - commandTreeVisualize
              - commandWait
              - conditionExpressionTester
              - configDriftScan
              - configGet
              - configSet
              - connectedFiles
              - consoleErrorTriage
              - contextPack
              - copyFile
              - copyTree
              - coverageRunner
              - credentialLeakRisk
              - crossSurfaceToolDocs
              - ctxPathProbe
              - deadCommentDetector
              - deadExportScan
              - deleteFile
              - deleteTree
              - dependencyBlindSpotScan
              - dependencyCycleCheck
              - dependencyDiff
              - dependencyDoctor
              - dependencyGraph
              - dependencyInstallPlan
              - dependencyRiskScan
              - dependencyVulnPlan
              - destructiveIntentGate
              - detectAbstractionLeaks
              - detectConceptClusters
              - detectDeadConcepts
              - docsGeneratedFreshness
              - doctorAll
              - duplicateBasenames
              - duplicateConceptScan
              - emptyDir
              - endpointDiscovery
              - endpointMethodProbe
              - ensureFile
              - envDoctor
              - envFileAudit
              - environmentVirtualizer
              - errorCluster
              - failedActionMemory
              - failingTestTriage
              - fileHashes
              - fileTreeDiff
              - findFiles
              - finishAndContinue
              - forEachActionBatch
              - fsPermissionEnvelope
              - functionPatchDryRun
              - generateRepairPlan
              - generateTestUniverse
              - getContext
              - getPostMismatchScan
              - gitBranchDoctor
              - gitConflictExplainer
              - gitDiffSmart
              - gitDoctor
              - gitIgnoreDoctor
              - gitIgnoreHygiene
              - gitMergeDoctor
              - gitPatchSummary
              - gitRemoteHealth
              - gitSafeCommitPlan
              - gitStashPlan
              - gitStatusDeep
              - goalCompiler
              - grep
              - handoffPack
              - hashGuardAdvisor
              - httpCookieDelete
              - httpCookieJarList
              - httpCookies
              - httpCookieSet
              - httpDownload
              - httpJson
              - httpRequest
              - httpSessionClear
              - httpTrace
              - importResolverExplain
              - inferArchitecture
              - inferBusinessRules
              - insertAfterFunction
              - insertAfterScope
              - insertBeforeFunction
              - insertBeforeScope
              - inspectHumanConfusion
              - inspectRenderStorms
              - installPlan
              - installScriptParityCheck
              - intentDriftDetector
              - interactionRecorder
              - interactionReplayDiff
              - isolatedCleanup
              - isolatedHtmlTest
              - isolatedJsTest
              - isolatedNodeCheck
              - isolatedToolRepairPlan
              - jsdocCoverageScan
              - jsonFormat
              - jsonValidate
              - largeFiles
              - largeFileSplitPlanner
              - lastActionReplay
              - lastFailureExplain
              - lazyContextPack
              - lintRunner
              - list
              - liveAgentVersionCompare
              - localVsPublicRouteDiff
              - lockfileDoctor
              - logSearch
              - logTail
              - macroExplain
              - macroPatch
              - macroRecordStart
              - macroRecordStop
              - macroReplay
              - md
              - merkavaCommandTree
              - merkavaParserSmoke
              - merkavaVsChromeDiff
              - merkavaWorkflowRun
              - microPatchPlanner
              - minimalReproGenerator
              - missionAddTask
              - missionAgentAudit
              - missionAgentClaim
              - missionAgentComplete
              - missionAgentDelegate
              - missionAgentHeartbeat
              - missionAgentMessage
              - missionAgentRespond
              - missionAgentSync
              - missionAnswer
              - missionAttachJob
              - missionAuto
              - missionAutopilot
              - missionBoredomCheck
              - missionBrainstorm
              - missionCheckpoint
              - missionChunkPlan
              - missionCollaborationUserMessage
              - missionCompleteTask
              - missionConstitution
              - missionContinuity
              - missionCourt
              - missionCycle
              - missionDiscover
              - missionEarlyFinalAttempt
              - missionEntropy
              - missionEvidence
              - missionEvidenceDebt
              - missionExpand
              - missionFamilies
              - missionFilesToTouch
              - missionFinalize
              - missionGet
              - missionGraph
              - missionHeartbeat
              - missionImprovementPlan
              - missionInnovationLedger
              - missionLease
              - missionLeaseRenew
              - missionList
              - missionLoopCheckpoint
              - missionLoopPulse
              - missionLoopQueue
              - missionLoopSeed
              - missionLoopWatchdog
              - missionMetadataStatus
              - missionNext
              - missionNextPlan
              - missionNoveltyScore
              - missionPlanDelta
              - missionPostCompletion
              - missionProjectDiscover
              - missionProjectInvite
              - missionProjectJoin
              - missionProjectStatus
              - missionProtocolAnswer
              - missionProtocolFinalizeCheck
              - missionProtocolNext
              - missionProtocolReview
              - missionProtocolSimulate
              - missionProtocolStage
              - missionProtocolStart
              - missionProtocolStatus
              - missionQuestion
              - missionQueueAdd
              - missionQueueComplete
              - missionQueueStatus
              - missionRecovery
              - missionRefrigerate
              - missionReport
              - missionRoleRotate
              - missionRoomAcceptSplit
              - missionRoomBrainstorm
              - missionRoomClaimFile
              - missionRoomClaimTask
              - missionRoomCreate
              - missionRoomCreateSubMissions
              - missionRoomDiscoverAgents
              - missionRoomFileConflicts
              - missionRoomFindActive
              - missionRoomHandoffPack
              - missionRoomHeartbeat
              - missionRoomInbox
              - missionRoomInnovationLedger
              - missionRoomInviteAgent
              - missionRoomJoin
              - missionRoomLoopCourt
              - missionRoomLoopPulse
              - missionRoomLoopStatus
              - missionRoomMergeCourt
              - missionRoomMergeReports
              - missionRoomMessage
              - missionRoomProposeSplit
              - missionRoomRealChatSimulate
              - missionRoomRecoverInterrupt
              - missionRoomRecoverStaleAgent
              - missionRoomReleaseFile
              - missionRoomReplay
              - missionRoomSchedulerResume
              - missionRoomSchedulerRun
              - missionRoomSelfImprovePulse
              - missionRoomSettings
              - missionRoomSimulate
              - missionRoomStatus
              - missionRoomSummit
              - missionRoomTrustScore
              - missionRoomUserMessage
              - missionRoomWakeAgent
              - missionRoomWatchdog
              - missionSelfImproveCourt
              - missionSelfImprovePulse
              - missionSelfImproveRunBounded
              - missionSelfImproveSchedulerResume
              - missionSelfImproveSchedulerRun
              - missionSelfImproveSchedulerStatus
              - missionSelfImproveStart
              - missionSelfImproveStatus
              - missionSelfMailDraft
              - missionSpawnNext
              - missionStart
              - missionStepBrainstorm
              - missionStepDelta
              - missionStepExecute
              - missionStepPlan
              - missionStepReview
              - missionSupervise
              - missionThaw
              - missionTimeline
              - missionVerify
              - mkdirp
              - modelToolCompatibility
              - moduleGraphCompleteness
              - moveFile
              - moveTree
              - mutationPatchTest
              - networkDoctor
              - networkFailureTriage
              - networkReplaySummary
              - nodeCheckFile
              - nodeCheckFiles
              - nodeCheckMany
              - nodeDoctor
              - nodeVersionCompatibility
              - npmScriptExplain
              - npmScriptMatrix
              - oauthDoctor
              - oauthStateDoctor
              - openApiAgentDiff
              - openApiRegenerator
              - openApiValidate
              - openRoot
              - orchestrationGraph
              - outdatedDependencyScan
              - packageInfo
              - packageManagerDoctor
              - packageScriptRunner
              - parallelActionBatch
              - pathDoctor
              - payloadEcho
              - payloadShapeInfer
              - perfBudgetCheck
              - permissionDoctor
              - placeholderDetector
              - policyGuard
              - portDoctor
              - portFind
              - portKillSafe
              - portList
              - powershellCompatibilityCheck
              - previewActionResult
              - previewBranchMatrix
              - previewBuildRunner
              - previewCollection
              - previewCreate
              - previewExposeLocalServer
              - previewFile
              - previewFolder
              - previewList
              - previewLiveCommand
              - previewPage
              - previewRevoke
              - previewSettingsGet
              - previewSettingsSet
              - probeCoverageMap
              - processDoctor
              - processFind
              - processKillSafe
              - processList
              - projectOverview
              - providerCapabilityMatrix
              - read
              - read64
              - readBytes
              - readLines
              - readManyLines
              - recentFiles
              - regexFallbackDetector
              - releasePack
              - remoteDesktopAnswer
              - remoteDesktopAsk
              - remoteDesktopAuditLog
              - remoteDesktopBookmark
              - remoteDesktopBrowserPeerScript
              - remoteDesktopCapabilityMatrix
              - remoteDesktopChromeFramePlan
              - remoteDesktopChromeFramePush
              - remoteDesktopChromeScreenshotPush
              - remoteDesktopConsentStatus
              - remoteDesktopCreateSession
              - remoteDesktopDenyConsent
              - remoteDesktopEngineRoadmap
              - remoteDesktopExport
              - remoteDesktopFeatureCatalog
              - remoteDesktopFrameLatest
              - remoteDesktopFramePush
              - remoteDesktopFutureCatalog
              - remoteDesktopGrantConsent
              - remoteDesktopGrantInput
              - remoteDesktopHeartbeat
              - remoteDesktopHelperSkeletons
              - remoteDesktopIceCandidate
              - remoteDesktopInputEvent
              - remoteDesktopNativeHelperPlan
              - remoteDesktopOffer
              - remoteDesktopPause
              - remoteDesktopPeerConnectionPlan
              - remoteDesktopPeerStateTemplate
              - remoteDesktopPermissionContract
              - remoteDesktopPermissionProfile
              - remoteDesktopPlatformCapabilities
              - remoteDesktopPolicy
              - remoteDesktopResume
              - remoteDesktopRevoke
              - remoteDesktopRisk
              - remoteDesktopScreenshotSourcePlan
              - remoteDesktopSessionList
              - remoteDesktopSessionNote
              - remoteDesktopSessionSummary
              - remoteDesktopSignalSummary
              - remoteDesktopUniversalGraph
              - remoteDesktopUniversalRoadmap
              - remoteDesktopUniversalVision
              - repairPatchSuggester
              - replaceFunction
              - replaceFunctionBody
              - replaceMethod
              - replaceRange
              - replaceScope
              - replaceScopeBody
              - replaceSymbol
              - repoDoctor
              - restoreSnapshotPlan
              - retryAction
              - reviewPack
              - rootBrowse
              - roots
              - rootSelect
              - routeAudit
              - routeContextPack
              - routeExecutorGraph
              - runtime
              - runtimeContractRegistry
              - runtimeEngineMatrix
              - runtimeEntityGraph
              - runtimeIntrospectionStream
              - runtimeOptionEcho
              - runtimeSnapshot
              - runtimeSnapshotCompare
              - runtimeWorkflow
              - safeEnvTemplate
              - safeInstall
              - safePathExplain
              - sandboxHealthCheck
              - sandboxRootDoctor
              - schemaRoundTripTest
              - scriptDiscovery
              - secretScan
              - securityHeadersCheck
              - selectString
              - selfHealingCommandRegistry
              - selfHealPreview
              - semanticCache
              - semanticDiff
              - semanticEditPreview
              - semanticMerge
              - semanticPackageGenerator
              - semanticPipeline
              - semanticRefactor
              - semanticSearchRuntime
              - serverHealthProbe
              - serverRestart
              - serverStart
              - serverStop
              - shellCommand
              - shellSyntaxTranslator
              - simulateFailure
              - simulateRuntime
              - simulateRuntimeProviders
              - snapshotBeforeAfter
              - snapshotWorkspace
              - stackTraceExplain
              - stat
              - stateTimeMachine
              - staticServerList
              - staticServerLogs
              - staticServerStart
              - staticServerStop
              - superviseRuntime
              - symbolContextPack
              - symbolOutline
              - symbolResolutionTrace
              - syntaxCheck
              - templateFork
              - templateFromAction
              - templateFromHistory
              - templatePatchRun
              - templatePromote
              - testDiscovery
              - testFailureExplainer
              - testMatrix
              - testMatrixRunner
              - testRunner
              - testRuntimeOnce
              - textStats
              - toolCallFuzzer
              - toolManifestGenerator
              - toolManifestValidate
              - toolNameCollisionScan
              - toolStressMatrix
              - toolSurfaceDiff
              - toolUsageTelemetry
              - touch
              - transportMethodProbe
              - tree
              - tunnelDoctor
              - tunnelLivenessTimeline
              - typecheckRunner
              - universalAppManifest
              - virtualDomDiff
              - waitForPort
              - waitForUrl
              - watchTestOnce
              - workflowGet
              - workflowList
              - workflowRun
              - workflowStepLinter
              - workflowValidate
              - workspaceDoctor
              - write
              - writeIfHash
              - writePayloadSizer
              - yamlValidate
        - { name: p, in: query, schema: { type: string } }
        - { name: path, in: query, schema: { type: string } }
        - { name: cwd, in: query, schema: { type: string } }
        - { name: root, in: query, schema: { type: string } }
        - { name: content, in: query, schema: { type: string } }
        - { name: content64, in: query, schema: { type: string } }
        - { name: find, in: query, schema: { type: string } }
        - { name: find64, in: query, schema: { type: string } }
        - { name: replace, in: query, schema: { type: string } }
        - { name: replace64, in: query, schema: { type: string } }
        - { name: query, in: query, schema: { type: string } }
        - { name: query64, in: query, schema: { type: string } }
        - { name: command, in: query, schema: { type: string } }
        - { name: command64, in: query, schema: { type: string } }
        - { name: text, in: query, schema: { type: string } }
        - { name: text64, in: query, schema: { type: string } }
        - { name: goal, in: query, schema: { type: string } }
        - { name: goal64, in: query, schema: { type: string } }
        - { name: params, in: query, schema: { type: string } }
        - { name: params64, in: query, schema: { type: string } }
        - { name: actions, in: query, schema: { type: string } }
        - { name: actions64, in: query, schema: { type: string } }
        - { name: actionsJson, in: query, schema: { type: string } }
        - { name: actionsJson64, in: query, schema: { type: string } }
        - { name: writes, in: query, schema: { type: string } }
        - { name: writes64, in: query, schema: { type: string } }
        - { name: files, in: query, schema: { type: string } }
        - { name: files64, in: query, schema: { type: string } }
        - { name: paths, in: query, schema: { type: string } }
        - { name: paths64, in: query, schema: { type: string } }
        - { name: url, in: query, schema: { type: string } }
        - { name: selector, in: query, schema: { type: string } }
        - { name: targetVessel, in: query, schema: { type: string } }
        - { name: vessel, in: query, schema: { type: string } }
        - { name: fallback, in: query, schema: { type: string } }
        - { name: jobId, in: query, schema: { type: string } }
        - { name: stream, in: query, schema: { type: string } }
        - { name: continuationPrompt, in: query, schema: { type: string } }
        - { name: continuationPrompt64, in: query, schema: { type: string } }
        - { name: multipleChoiceAnswer, in: query, schema: { type: string } }
        - { name: choice, in: query, schema: { type: string } }
        - { name: answer, in: query, schema: { type: string } }
        - { name: missionId, in: query, schema: { type: string } }
        - { name: projectRoot, in: query, schema: { type: string } }
        - { name: logicalAgentId, in: query, schema: { type: string } }
        - { name: agentSessionId, in: query, schema: { type: string } }
        - { name: agentId, in: query, schema: { type: string } }
        - { name: agentName, in: query, schema: { type: string } }
        - { name: claimId, in: query, schema: { type: string } }
        - { name: delegationId, in: query, schema: { type: string } }
        - { name: provider, in: query, schema: { type: string } }
        - { name: providerId, in: query, schema: { type: string } }
        - { name: model, in: query, schema: { type: string } }
        - { name: apiKey, in: query, schema: { type: string } }
        - { name: apiKey64, in: query, schema: { type: string } }
        - { name: message, in: query, schema: { type: string } }
        - { name: message64, in: query, schema: { type: string } }
        - { name: prompt, in: query, schema: { type: string } }
        - { name: prompt64, in: query, schema: { type: string } }
        - { name: system, in: query, schema: { type: string } }
        - { name: system64, in: query, schema: { type: string } }
        - { name: offsetChars, in: query, schema: { type: integer, default: 0 } }
        - { name: maxChars, in: query, schema: { type: integer, default: 12000 } }
        - { name: totalMaxChars, in: query, schema: { type: integer, default: 24000 } }
        - { name: maxFiles, in: query, schema: { type: integer, default: 5 } }
        - { name: depth, in: query, schema: { type: integer, default: 2 } }
        - { name: limit, in: query, schema: { type: integer, default: 150 } }
        - { name: timeoutMs, in: query, schema: { type: integer, default: 240000 } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: pageSize, in: query, schema: { type: integer, default: 50 } }
        - { name: port, in: query, schema: { type: integer, default: 9222 } }
        - { name: pollIntervalMs, in: query, schema: { type: integer, default: 7000 } }
        - { name: leaseMs, in: query, schema: { type: integer, default: 3600000 } }
        - { name: allowWrite, in: query, schema: { type: boolean } }
        - { name: allowCommands, in: query, schema: { type: boolean } }
        - { name: allowSecrets, in: query, schema: { type: boolean } }
        - { name: enableLocalHttpProxy, in: query, schema: { type: boolean } }
        - { name: regex, in: query, schema: { type: boolean, default: false } }
        - { name: replaceAll, in: query, schema: { type: boolean, default: true } }
        - { name: dryRun, in: query, schema: { type: boolean, default: true } }
        - { name: confirm, in: query, schema: { type: boolean, default: false } }
        - { name: stream, in: query, schema: { type: boolean } }
        - { name: guidanceDebug, in: query, schema: { type: boolean, default: false } }
        - { name: debugGuidance, in: query, schema: { type: boolean, default: false } }
        - { name: blockOnUserMessage, in: query, schema: { type: boolean, default: true } }
        - { name: allowContinue, in: query, schema: { type: boolean, default: false } }
      responses:
        "200": { description: OK. Read responseFocus first. If multipleChoiceSelfInterrogation exists, answer it before any unrelated action., content: { application/json: { schema: { $ref: "#/components/schemas/AnyResponse" } } } }
  /api/tunnel/control/preview/{tunnelName}:
    get:
      operationId: awtsmoosPreviewProxy
      summary: Fetch preview through tunnel.
      security: [{ OAuth2: [profile, tunnel.read] }]
      parameters:
        - { name: tunnelName, in: path, required: true, schema: { type: string } }
        - { name: url, in: query, schema: { type: string } }
        - { name: maxChars, in: query, schema: { type: integer, default: 500000 } }
      responses:
        "200": { description: Preview response body }
components:
  schemas:
    AnyResponse:
      type: object
      additionalProperties: true
      properties:
        ok: { type: boolean }
        error: { type: string }
        action: { type: string }
        jobId: { type: string }
        content: { type: string }
        responseFocus: { type: object, additionalProperties: true }
        awtsmoosNext: { type: object, additionalProperties: true }
        multipleChoiceSelfInterrogation: { type: object, additionalProperties: true }
        allCapsPrompt: { type: string }
        acceptedAnswerFormat: { type: string }
        mustContinue: { type: boolean }
        mustCallNext: { type: object, additionalProperties: true }
        finalAnswerAllowed: { type: boolean }
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://awtsmoos.com/api/oauth/start
          tokenUrl: https://awtsmoos.com/api/oauth/token
          scopes:
            profile: Basic identity access.
            tunnel.read: Read tunnel state.
            tunnel.write: Modify authorized files.
            tunnel.command: Execute command diagnostics.
            tunnel.browser: Browser automation.
            tunnel.admin: Administrative tunnel operations.
