openapi: 3.1.0
info:
  title: Awtsmoos Tunnel Control GPT Actions
  version: 4.0.0
  description: >
    B"H. Single import YAML. GET-only. Never POST. Never use findReplace or
    in-file replacement. Use base64 query params for large values. If too large,
    split into smaller complete file writes/modules.
servers:
  - url: https://awtsmoos.com
paths:
  /api/tunnel/control/bootstrap:
    get:
      operationId: awtsmoosBootstrap
      summary: Get setup instructions.
      security: []
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
  /api/tunnel/control/my-device:
    get:
      operationId: awtsmoosMyDevice
      summary: Discover active tunnel.
      description: Use before asking for tunnelName. If exactly one tunnel is connected, use it automatically.
      security:
        - OAuth2: [profile, tunnel.read]
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
        "401": { description: Not authenticated }
        "404": { description: No connected tunnel }
        "409": { description: Multiple tunnels connected }
  /api/tunnel/control/fs/{tunnelName}:
    get:
      operationId: awtsmoosTunnelAction
      summary: Run tunnel action via GET query params only.
      description: >
        Use this GET operation for list, tree, read, md, bulk, write, bulkWrite,
        config, root, command, nodeScript, and Chrome actions. Do not use POST.
        Do not use findReplace. For edits, read exact files first, then write
        complete files. If too large, split into smaller requests.
      security:
        - OAuth2: [profile, tunnel.read]
      parameters:
        - { name: tunnelName, in: path, required: true, schema: { type: string } }
        - { name: action, in: query, required: true, description: findReplace intentionally omitted, schema: { type: string, enum: [list, tree, read, readBytes, read64, md, bulk, write, bulkWrite, commandRun, nodeScriptRun, chromeFind, chromeLaunch, chromeStatus, chromeNavigate, chromeWaitForSelector, chromeClick, chromeType, chromeEval, chromeRunScript, configGet, configSet, roots, rootBrowse, rootSelect, openRoot] } }
        - { name: p, in: query, required: false, schema: { type: string, default: "." } }
        - { name: path, in: query, required: false, schema: { type: string } }
        - { name: depth, in: query, required: false, schema: { type: integer, default: 2 } }
        - { name: limit, in: query, required: false, schema: { type: integer, default: 150 } }
        - { name: maxChars, in: query, required: false, schema: { type: integer, default: 8000 } }
        - { name: totalMaxChars, in: query, required: false, schema: { type: integer, default: 24000 } }
        - { name: maxFiles, in: query, required: false, schema: { type: integer, default: 3 } }
        - { name: offsetChars, in: query, required: false, schema: { type: integer, default: 0 } }
        - { name: maxBytes, in: query, required: false, schema: { type: integer, default: 24000 } }
        - { name: offsetBytes, in: query, required: false, schema: { type: integer, default: 0 } }
        - { name: paths64, in: query, required: false, description: Base64 JSON array for bulk reads, schema: { type: string } }
        - { name: content64, in: query, required: false, description: Base64 complete file content for write, schema: { type: string } }
        - { name: files64, in: query, required: false, description: Base64 JSON object for bulkWrite, schema: { type: string } }
        - { name: command64, in: query, required: false, schema: { type: string } }
        - { name: script64, in: query, required: false, schema: { type: string } }
        - { name: input64, in: query, required: false, schema: { type: string } }
        - { name: shell, in: query, required: false, schema: { type: string, enum: [powershell, cmd, bash, sh] } }
        - { name: cwd, in: query, required: false, schema: { type: string, default: "." } }
        - { name: timeoutMs, in: query, required: false, schema: { type: integer, default: 20000 } }
        - { name: url, in: query, required: false, schema: { type: string } }
        - { name: selector, in: query, required: false, schema: { type: string } }
        - { name: text64, in: query, required: false, schema: { type: string } }
        - { name: expression64, in: query, required: false, schema: { type: string } }
        - { name: port, in: query, required: false, schema: { type: integer, default: 9222 } }
        - { name: chromePath, in: query, required: false, schema: { type: string } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
        "400": { description: Bad request }
        "401": { description: Auth required }
        "403": { description: Not allowed }
        "413": { description: Too large; split smaller }
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://awtsmoos.com/api/oauth/authorize
          tokenUrl: https://awtsmoos.com/api/oauth/token
          scopes:
            profile: Basic profile.
            tunnel.read: Read/list/tree and discover tunnel.
            tunnel.write: Write complete files.
            tunnel.command: Run approved commands/scripts.
            tunnel.browser: Control Chrome.
            tunnel.admin: Full control.
