openapi: 3.1.0
info:
  title: Awtsmoos Tunnel Control GPT Actions Live Agent Surface
  version: 5.1.0-live
  description: >
    B"H. Generated from the connected agent routeAudit on 2026-05-18.
    GET-only transport. Plain UTF-8 query parameters are preferred.
    This file intentionally excludes actions that the connected agent rejected,
    including syntaxCheck and lineReplace. Base64 parameters are omitted from
    this generated surface to keep the GPT action focused on plain transport.
servers:
  - url: https://awtsmoos.com
paths:
  /api/tunnel/control/bootstrap:
    get:
      operationId: awtsmoosBootstrap
      summary: Get setup instructions.
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnyResponse"
  /api/tunnel/control/my-device:
    get:
      operationId: awtsmoosMyDevice
      summary: Discover active connected tunnel.
      security:
        - OAuth2: [profile, tunnel.read]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnyResponse"
        "401": { description: Unauthorized }
        "404": { description: No connected tunnel }
        "409": { description: Multiple connected tunnels }
  /api/tunnel/control/fs/{tunnelName}:
    get:
      operationId: awtsmoosTunnelAction
      summary: Unified tunnel action endpoint.
      description: >
        Filesystem, project cognition, guarded editing, runtime diagnostics,
        workflows, local command diagnostics, HTTP/cookie helpers, static servers,
        previews, and Chrome automation. Use small GET requests and split large work.
      security:
        - OAuth2: [profile, tunnel.read, tunnel.write, tunnel.command, tunnel.browser, tunnel.admin]
      parameters:
        - name: tunnelName
          in: path
          required: true
          schema: { type: string }
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum:
              - configGet
              - configSet
              - roots
              - rootBrowse
              - rootSelect
              - openRoot
              - stat
              - list
              - tree
              - read
              - readLines
              - readManyLines
              - readBytes
              - read64
              - md
              - bulk
              - grep
              - bulkSearch
              - bulkSearchPage
              - selectString
              - findFiles
              - fileHashes
              - symbolOutline
              - semanticSearch
              - astOutline
              - connectedFiles
              - jsonValidate
              - jsonFormat
              - packageInfo
              - projectOverview
              - dependencyGraph
              - recentFiles
              - largeFiles
              - duplicateBasenames
              - textStats
              - routeAudit
              - agentSelfTest
              - mkdirp
              - ensureFile
              - touch
              - copyFile
              - copyTree
              - moveFile
              - moveTree
              - deleteFile
              - deleteTree
              - emptyDir
              - httpRequest
              - httpJson
              - httpDownload
              - httpCookieJarList
              - httpCookies
              - httpCookieSet
              - httpCookieDelete
              - httpSessionClear
              - staticServerStart
              - staticServerList
              - staticServerStop
              - staticServerLogs
              - isolatedJsTest
              - isolatedNodeCheck
              - isolatedHtmlTest
              - isolatedCleanup
              - workflowRun
              - workflowList
              - workflowGet
              - workflowValidate
              - simulateRuntime
              - runtimeWorkflow
              - merkavaWorkflowRun
              - aiWorkflowRun
              - aiCommandBatch
              - testRuntimeOnce
              - inspectRuntime
              - launchPreview
              - listPreviews
              - previewLogs
              - stopPreview
              - restartPreview
              - semanticDiff
              - detectConceptClusters
              - simulateFailure
              - generateRepairPlan
              - superviseRuntime
              - inferArchitecture
              - detectAbstractionLeaks
              - runtimeEntityGraph
              - semanticRefactor
              - inspectRenderStorms
              - runtimeContractRegistry
              - semanticSearchRuntime
              - previewBranchMatrix
              - inferBusinessRules
              - stateTimeMachine
              - detectDeadConcepts
              - semanticMerge
              - runtimeIntrospectionStream
              - architectureScore
              - intentDriftDetector
              - semanticPackageGenerator
              - selfHealPreview
              - generateTestUniverse
              - inspectHumanConfusion
              - orchestrationGraph
              - environmentVirtualizer
              - runtimeSnapshot
              - semanticCache
              - goalCompiler
              - autonomousBackgroundAgents
              - semanticPipeline
              - universalAppManifest
              - write
              - bulkWrite
              - writeIfHash
              - bulkWriteIfHashes
              - findReplace
              - replaceRange
              - applyPatch
              - instantTests
              - httpUseChromeCookies
              - commandRun
              - nodeScriptRun
              - nodeCheck
              - nodeInstantTests
              - nodeCheckMany
              - nodeCheckTree
              - chromeFind
              - chromeLaunch
              - chromeStatus
              - chromeNavigate
              - chromeWaitForSelector
              - chromeClick
              - chromeType
              - chromeEval
              - chromeLogs
              - chromeSnapshot
              - chromeRunScript
              - chromeScreenshot
              - chromeNetwork
              - chromeAccessibilitySnapshot
              - chromeTestUrl
              - chromeCookies
              - chromeCookieSet
              - chromeCookieDelete
              - chromeStorage
              - chromeStorageSet
              - chromeStorageDelete
              - chromeSessionExport
              - chromeSessionImport
              - chromeUseHttpCookies
        - { name: p, in: query, schema: { type: string, default: . } }
        - { name: path, in: query, schema: { type: string } }
        - { name: paths, in: query, schema: { type: string }, description: "Plain newline/comma/JSON list of paths." }
        - { name: files, in: query, schema: { type: string }, description: "Plain JSON/text file list or file map, depending on action." }
        - { name: writes, in: query, schema: { type: string }, description: "Plain JSON/text write list or path-content map." }
        - { name: edits, in: query, schema: { type: string }, description: "Plain JSON/text edit list." }
        - { name: from, in: query, schema: { type: string } }
        - { name: to, in: query, schema: { type: string } }
        - { name: source, in: query, schema: { type: string } }
        - { name: dest, in: query, schema: { type: string } }
        - { name: target, in: query, schema: { type: string } }
        - { name: cwd, in: query, schema: { type: string, default: . } }
        - { name: root, in: query, schema: { type: string } }
        - { name: content, in: query, schema: { type: string } }
        - { name: find, in: query, schema: { type: string } }
        - { name: replace, in: query, schema: { type: string } }
        - { name: query, in: query, schema: { type: string } }
        - { name: text, in: query, schema: { type: string } }
        - { name: command, in: query, schema: { type: string } }
        - { name: script, in: query, schema: { type: string } }
        - { name: scriptText, in: query, schema: { type: string } }
        - { name: expression, in: query, schema: { type: string } }
        - { name: html, in: query, schema: { type: string } }
        - { name: testCode, in: query, schema: { type: string } }
        - { name: workflow, in: query, schema: { type: string } }
        - { name: workflowName, in: query, schema: { type: string } }
        - { name: steps, in: query, schema: { type: string } }
        - { name: params, in: query, schema: { type: string } }
        - { name: probes, in: query, schema: { type: string } }
        - { name: interactions, in: query, schema: { type: string } }
        - { name: url, in: query, schema: { type: string } }
        - { name: urlPath, in: query, schema: { type: string } }
        - { name: method, in: query, schema: { type: string, default: GET } }
        - { name: headers, in: query, schema: { type: string } }
        - { name: body, in: query, schema: { type: string } }
        - { name: bodyEncoding, in: query, schema: { type: string, default: utf8 } }
        - { name: cookieJarName, in: query, schema: { type: string } }
        - { name: jar, in: query, schema: { type: string } }
        - { name: name, in: query, schema: { type: string } }
        - { name: value, in: query, schema: { type: string } }
        - { name: domain, in: query, schema: { type: string } }
        - { name: expires, in: query, schema: { type: string } }
        - { name: sameSite, in: query, schema: { type: string } }
        - { name: storageType, in: query, schema: { type: string } }
        - { name: localStorage, in: query, schema: { type: string } }
        - { name: sessionStorage, in: query, schema: { type: string } }
        - { name: cookies, in: query, schema: { type: string } }
        - { name: selector, in: query, schema: { type: string } }
        - { name: chromePath, in: query, schema: { type: string } }
        - { name: userDataDir, in: query, schema: { type: string } }
        - { name: host, in: query, schema: { type: string, default: 127.0.0.1 } }
        - { name: port, in: query, schema: { type: integer, default: 9222 } }
        - { name: index, in: query, schema: { type: string, default: index.html } }
        - { name: serverId, in: query, schema: { type: string } }
        - { name: sandboxId, in: query, schema: { type: string } }
        - { name: entry, in: query, schema: { type: string } }
        - { name: format, in: query, schema: { type: string, default: png } }
        - { name: runtime, in: query, schema: { type: string } }
        - { name: ext, in: query, schema: { type: string } }
        - { name: shell, in: query, schema: { type: string } }
        - { name: expectedSha256, in: query, schema: { type: string } }
        - { name: expectedSourceSha256, in: query, schema: { type: string } }
        - { name: sha256, in: query, schema: { type: string } }
        - { name: startLine, in: query, schema: { type: integer } }
        - { name: endLine, in: query, schema: { type: integer } }
        - { name: startColumn, in: query, schema: { type: integer } }
        - { name: endColumn, in: query, schema: { type: integer } }
        - { name: offsetChars, in: query, schema: { type: integer, default: 0 } }
        - { name: maxChars, in: query, schema: { type: integer, default: 12000 } }
        - { name: totalMaxChars, in: query, schema: { type: integer, default: 24000 } }
        - { name: offsetBytes, in: query, schema: { type: integer, default: 0 } }
        - { name: maxBytes, in: query, schema: { type: integer, default: 24000 } }
        - { name: maxFiles, in: query, schema: { type: integer, default: 5 } }
        - { name: maxRanges, in: query, schema: { type: integer, default: 20 } }
        - { name: maxEntries, in: query, schema: { type: integer, default: 3000 } }
        - { name: maxResults, in: query, schema: { type: integer, default: 80 } }
        - { name: maxFileBytes, in: query, schema: { type: integer, default: 800000 } }
        - { name: sinceMinutes, in: query, schema: { type: integer, default: 120 } }
        - { name: minBytes, in: query, schema: { type: integer, default: 500000 } }
        - { name: modifiedAfterMs, in: query, schema: { type: integer, default: 0 } }
        - { name: depth, in: query, schema: { type: integer, default: 2 } }
        - { name: limit, in: query, schema: { type: integer, default: 150 } }
        - { name: timeoutMs, in: query, schema: { type: integer, default: 240000 } }
        - { name: waitMs, in: query, schema: { type: integer, default: 0 } }
        - { name: selectorTimeoutMs, in: query, schema: { type: integer, default: 10000 } }
        - { name: maxLogs, in: query, schema: { type: integer, default: 200 } }
        - { name: maxText, in: query, schema: { type: integer, default: 4000 } }
        - { name: maxHtml, in: query, schema: { type: integer, default: 0 } }
        - { name: maxRedirects, in: query, schema: { type: integer, default: 5 } }
        - { name: maxSteps, in: query, schema: { type: integer, default: 50 } }
        - { name: maxIterations, in: query, schema: { type: integer, default: 20 } }
        - { name: maxStepOutputChars, in: query, schema: { type: integer, default: 12000 } }
        - { name: indent, in: query, schema: { type: integer, default: 2 } }
        - { name: regex, in: query, schema: { type: boolean, default: false } }
        - { name: replaceAll, in: query, schema: { type: boolean, default: true } }
        - { name: dryRun, in: query, schema: { type: boolean, default: true } }
        - { name: confirm, in: query, schema: { type: boolean, default: false } }
        - { name: includeDirs, in: query, schema: { type: boolean, default: false } }
        - { name: write, in: query, schema: { type: boolean, default: false } }
        - { name: snapshot, in: query, schema: { type: boolean, default: true } }
        - { name: assertNoConsoleErrors, in: query, schema: { type: boolean, default: false } }
        - { name: headless, in: query, schema: { type: boolean, default: false } }
        - { name: clearLogs, in: query, schema: { type: boolean, default: false } }
        - { name: fullPage, in: query, schema: { type: boolean, default: true } }
        - { name: failedOnly, in: query, schema: { type: boolean, default: true } }
        - { name: useCookies, in: query, schema: { type: boolean, default: true } }
        - { name: saveCookies, in: query, schema: { type: boolean, default: true } }
        - { name: followRedirects, in: query, schema: { type: boolean, default: true } }
        - { name: keepServer, in: query, schema: { type: boolean, default: false } }
        - { name: keepSandbox, in: query, schema: { type: boolean, default: false } }
        - { name: includeValues, in: query, schema: { type: boolean, default: false } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnyResponse"
        "400": { description: Bad Request }
        "401": { description: Unauthorized }
        "403": { description: Forbidden }
        "413": { description: Payload Too Large }
  /api/tunnel/control/preview/{tunnelName}:
    get:
      operationId: awtsmoosPreviewProxy
      summary: Fetch preview through tunnel.
      security:
        - OAuth2: [profile, tunnel.read]
      parameters:
        - { name: tunnelName, in: path, required: true, schema: { type: string } }
        - { name: url, in: query, schema: { type: string } }
        - { name: maxChars, in: query, schema: { type: integer, default: 500000 } }
        - { name: timeoutMs, in: query, schema: { type: integer, default: 30000 } }
      responses:
        "200":
          description: Preview response body
          content:
            text/html: { schema: { type: string } }
            text/plain: { schema: { type: string } }
            application/json:
              schema:
                $ref: "#/components/schemas/AnyResponse"
components:
  schemas:
    AnyResponse:
      type: object
      additionalProperties: true
      properties:
        BH: { type: string }
        ok: { type: boolean }
        error: { type: string }
        message: { type: string }
        tunnelName: { type: string }
        action: { type: string }
        path: { type: string }
        content: { type: string }
        items:
          type: array
          items: {}
        results:
          type: array
          items: {}
      required: [ok]
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth authorization for Awtsmoos Tunnel Control.
      flows:
        authorizationCode:
          authorizationUrl: https://awtsmoos.com/api/oauth/start
          tokenUrl: https://awtsmoos.com/api/oauth/token
          scopes:
            profile: Basic identity access.
            tunnel.read: Read filesystem, runtime, browser, and tunnel state.
            tunnel.write: Modify filesystem and apply patches.
            tunnel.command: Execute commands and runtime diagnostics.
            tunnel.browser: Browser automation access.
            tunnel.admin: Administrative tunnel operations.
