<!--B"H
header

-->

<!--
<link href="/style/home/forge.css" type="text/css" rel="stylesheet">
-->
<link href="/style/home/headers.css" type="text/css" rel="stylesheet">
<!--
<link type="text/css" rel="stylesheet" href="/style/awtsmoos/social/profileStyles.css">
-->
<link rel="stylesheet" href="/style/home/main.css" type="text/css">
<header class="awtsmoosificationalisticaticalism">
    <title>Awtsmoos | עצמות</title>

    <div class="BH">
      <div class="lg">B"H</div>
       <script awts>
        if(location.pathname != "/") {
          return /*html*/`
            <a class="home icon" href="/">🏠</a>
          `
        }
      </script>?>
      
    </div>
    <div class="header-buttons">
      
      <div id="menuButton" class="menuBtn btn">


      <script awts>
        return /*svg*/`
        <svg xmlns="http://www.w3.org/2000/svg"
         width="32" height="20" viewBox="0 0 32 32" 
         fill="none">
         ${Array(3)
          .fill()
          .map((_, i) => 
            /*svg*/`<path d="M4 ${
              8 + i * 8
            }H28" stroke="white" stroke-width="4" 
            stroke-linecap="round" stroke-linejoin="round"/>
          `)
          .join('')}
          <rect class="menuBtnRect" x="0" y="0" width="100%" height="100%"/></svg>`;

      </script>?>
              
      </div>
      <script>
          //B"H
          console.log("B\"H",
          "\n",
          "Welcome to the Awtsmoos.com");

          menuButton.onclick = () => {
            var q = document.querySelector(".sidebarMitzvah");
            if(!q) return;
            q.classList.toggle("offscreen")
          }
      </script>
      
      <?<script>
        
        var t = await getT("profileLink.html");
        return t;
      </script>?>
      <!--<div class="forge icon">
        <div class="forge-logo">
          <div class="swirl">🌀</div>
          <div class="symbol hammer">🔨</div>
          <div class="symbol lightning">⚡</div>
          <div class="symbol spark s4">✨</div>
        </div>
      </div>

      -->
     
    </div>
    
</header>
<div class="sidebarMitzvah offscreen">
   <a href="/email"></span>Awtsmoos Email 📧<span id="awtsmoos-unread-emails"></a>
    <a href="/apps">Awtsmoos Apps</a>
  <a href="/heichelos/ikar?view=posts">Sefarim</a>
  <a href="LIKTEUI SICHOS AI">Likkutei Sichos AI</a>
  <a href="/games">Games</a>
</div>
<script>
async function setUnread() {
	var aw=  document.getElementById("awtsmoos-unread-emails");
	if(!aw) return;
	
}
if(window.curAlias) setUnread();
else {
	addEventListener("awtsmoosAliasChange", setUnread);
}
</script>
